BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SortIncludes: false
